services:
  neo4j:
    ports:
      - ${NEO4J_PORT_BOLT}:7687
  elasticsearch:
    ports:
      - ${ELASTICSEARCH_PORT}:9200
  project:
    #    depends_on:
    environment:
      - MODE=prod
  letterbox:
    ports:
      - ${NGINX_PORT}:80
    volumes:
      - ${PROJECT_PATH}/docker/nginx.prod.conf:/etc/nginx/conf.d/default.conf
      - ${PROJECT_PATH}/code/client/dist:/var/www/client
      - ${PROJECT_MEDIA_PDF_PATH:-./nginx/data/pdf}:/var/www/pdf
