#root {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

#portal-root {
  position: absolute;
  top: 0;
  left: 0;
}

.notifications {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1090;

  .toast {
    margin-top: 10px;
  }
}

.inset-0 {
  inset: 0 !important;
}

.loading-overlay {
  position: fixed;
  inset: 0;
  background: $white;
  opacity: 0.25;
  z-index: 1100;
}

.tooltip {
  position: relative;
}

.over-modal {
  z-index: $zindex-tooltip;
}

.bg-white-transparent {
  background: rgba($white, 0.75) !important;
}

.modal-body {
  max-height: 70vh;
  overflow: scroll;
}

.border-dashed {
  border-style: dashed !important;
}

.btn-ico {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.w-fit-content {
  width: fit-content;
}
.card-item {
  display: flex;
  align-items: stretch;

  .card {
    flex-grow: 1;
  }

  .card-body {
    .card-title a {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      -ms-box-orient: vertical;
      box-orient: vertical;
      -webkit-line-clamp: 3;
      -moz-line-clamp: 3;
      -ms-line-clamp: 3;
      line-clamp: 3;
    }
  }
}
