#root {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

aside {
  width: 316px;
  flex-shrink: 0;
  background: $gray-100;
  @include media-breakpoint-down(xl) {
    width: 237px;
  }
}

main {
  flex-grow: 1;
  overflow-y: auto;
}

.explore-header {
  height: 150px;
}

@media (max-width: 1370px) {
  .explore-header {
    .explore-date {
      form {
        section {
          flex-direction: column !important;
          position: relative;
          top: 25px;
          gap: 0.25rem;
          label {
            margin-bottom: 0.25rem;
          }
        }
      }
    }
  }
}

.timeline {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: end;

  .timeline-barchart {
    position: absolute;
    inset: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;

    .bar-wrapper {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: center;

      .bar {
        background: $secondary;
      }
    }

    &.axis-x {
      inset: unset;
      width: 100%;
      top: 100%;

      .bar-wrapper {
        .tick {
          width: 5px;
          height: 4px;
          margin-top: 2px;
          margin-bottom: 4px;
          background-color: var(--bs-border-color-translucent);
        }
        .label {
          font-size: 0.75em;
          line-height: 0.75em;
        }
      }
    }
  }

  .filter-range,
  .local-range {
    position: absolute;
    top: 0;
    height: 100%;
  }
  .filter-range {
    background: $white;
    transition: all ease-in-out 0.4s;
  }
  .local-range {
    border: 1px solid $secondary;
    transition: all ease-out 0.05s;
    cursor: col-resize;
    margin: 0 -0.5px;

    .handle {
      position: absolute;
      border: 1px solid $secondary;
      border-radius: 100%;
      background: $yellow-100;
      top: 50%;
      margin-top: -1em;
      height: 2em;
      width: 2em;
      display: flex;
      align-items: center;
      justify-content: center;

      &.handle-left {
        left: -1em;
        cursor: w-resize;
      }
      &.handle-right {
        right: -1em;
        cursor: e-resize;
      }
    }

    .handle-close {
      top: 0;
      height: 1.5em;
      width: 1.5em;
      margin-top: -0.75em;
      right: -0.75em;
      cursor: pointer;
    }
  }

  &.dragging {
    user-select: none;
  }
}
.histogram-row {
  // those could be SCSS vars, at some point we needed to modify them on responsiveness
  --histoLeftPadding: 2rem;
  --histoYPadding: 1rem;

  display: flex;
  padding: 0 1rem 0 0;

  &:hover {
    background-color: $yellow-250 !important;
    border-radius: $spacer * 0.25;
  }

  .clickable-area {
    padding: var(--histoYPadding) 1rem var(--histoYPadding) var(--histoLeftPadding);
  }

  .histogram-row-index-marker {
    // place in parent left padding space
    position: absolute;
    top: 0;
    left: 0;
    // align child (value) vertically
    height: 100%;
    display: flex;
    align-items: center;
  }

  @include media-breakpoint-down(xl) {
    // move action button underneath clickable area
    flex-direction: column;
    // align left
    align-items: start;
    // space between clickable and actions
    gap: 0.5rem;
    // padding bottom back not clickable
    padding-bottom: var(--histoYPadding);
    .clickable-area {
      padding-bottom: 0 !important;
      // strech horizontally
      width: 100%;
    }
    .actions-container {
      // align on left padding
      padding-left: var(--histoLeftPadding);
    }
    .histogram-row-index-marker {
      // correct vertical center
      padding-top: var(--histoYPadding);
    }
  }
}

.indexation-management {
  // fix height from the largest children which is label + button
  height: 66px;
  width: 100%;
  // align child vertically
  display: flex;
  align-items: center;
}
