#root {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

aside {
  width: 316px;
  flex-shrink: 0;
  background: $gray-100;
}

main {
  flex-grow: 1;
  overflow-y: auto;
}

.timeline {
  height: 48px;
}

.histogram-row:hover {
  background-color: $yellow-250 !important;
  border-radius: $spacer * 0.25;
}