$font-family-sans-serif: Jost, sans-serif !default;

$font-size-base: 1rem !default;
$h1-font-size: $font-size-base * 2 !default;
$h2-font-size: $font-size-base * 1.5 !default;
$h3-font-size: $font-size-base * 1.25 !default;
$h4-font-size: $font-size-base !default;
$h5-font-size: $font-size-base !default;
$h6-font-size: $font-size-base !default;

$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4,
) !default;

$yellow-100: #fffdf5;
$yellow-200: #fefce8;
$yellow-300: #ffee6d;

$purple-100: #eae8ff;
$purple-200: #bab2ff;
$purple-300: #7755fd;
$purple-400: #6632f5;

$light-gray: #eeeeee;
$medium-gray: #666562;
$high-gray: #333331;

$primary: #333331 !default;
$secondary: #6c757d !default;

$body-bg: $yellow-100 !default;
$body-tertiary-bg: $yellow-100 !default;

$input-bg: white !default;

$form-switch-color: $purple-200;
$form-switch-focus-color: $purple-300;
$form-switch-checked-color: white;
