$font-family-sans-serif: Jost, sans-serif !default;

$font-size-base: 1rem !default;
$h1-font-size: $font-size-base * 2 !default;
$h2-font-size: $font-size-base * 1.5 !default;
$h3-font-size: $font-size-base * 1.25 !default;
$h4-font-size: $font-size-base !default;
$h5-font-size: $font-size-base !default;
$h6-font-size: $font-size-base !default;

$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4,
) !default;

$yellow-light: #fffdf5;
$yellow-flash: #ffee6d;
$light-gray: #eeeeee;

$primary: #333331 !default;
$secondary: #6c757d !default;

$body-bg: $yellow-light !default;
$body-tertiary-bg: $yellow-light !default;

$input-bg: white !default;
